<%= link_to 'Creamery Index', "/creameries" %>
<h1>All Cheeses</h1>

<% @cheeses.each do |cheese| %>
    <h3><a href="/cheeses/<%= cheese.id %>"><%= cheese.name %></a></h3><br>
    <h5>Style:</h5><%= cheese.style %><br>
    <h5>Net Weight</h5> <%= cheese.net_wt %><br>
    <h5>Milk Type</h5><%= cheese.milk_type %><br>
    <h5>Vegetarian?</h5> <%= cheese.veg_rennet %><br>
    <h5>Raw?</h5> <%= cheese.raw %><br>
    <a href="/cheeses/<%= cheese.id %>/edit">Update</a><br>
    <%= link_to "Delete #{cheese.name}", "/cheeses/#{cheese.id}", id: "cheese-#{cheese.id}", method: :delete %>
  <br><br>
<% end %>

