

<a href="/creameries">Creamery Index</a>

<h3>Name:</h3>
<p><%= @creamery.name %></p>
<h3>Year Founded:</h3>
<p><%= @creamery.date_founded %></p>
<h3>Owner(s)/Founder(s)</h3>
<p><%= @creamery.owner %></p>
<h3>Head Cheesemaker</h3>
<p><%= @creamery.head_cheesemaker %></p>
<h3>Location:</h3>
<p><%= @creamery.location %></p>
<h3>Farmstead?</h3>
<p><%= @creamery.farmstead %></p>
<h3>Acreage:</h3>
<p><%= @creamery.acreage %></p>
<h3>Awards:</h3>
<p><%= @creamery.awards_won %></p>
<h3>Number of Cheeses Made:</h3>
<p><%= @creamery.cheeses.count %></p>

<a href='/creameries/<% @creamery.id %>/edit'>Edit</a>
