<a href="/creameries">Creamery Index</a>

<h1><%= @creamery.name %></h1>

<h1><%= @creamery.date_founded %></h1>
<h1><%= @creamery.owner %></h1>
<h1><%= @creamery.head_cheesemaker %></h1>
<h1><%= @creamery.location %></h1>
<h1><%= @creamery.farmstead %></h1>
<h1><%= @creamery.acreage %></h1>
<h1><%= @creamery.awards_won %></h1>